script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")
script(src=url_for("/js/main.js"))

if theme.highlight.enable
    script(src="/js/highlight.min.js")
    script hljs.initHighlightingOnLoad();

script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-71164109-2")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-71164109-2');