link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href=url_for("/css/main.css"))

if theme.highlight.enable
    link(rel="stylesheet", href=url_for(theme.highlight.style_path))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)

script(src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
script(src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src=url_for("/js/main.js"))

if theme.highlight.enable
    script(src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js")
    script hljs.initHighlightingOnLoad();

script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-71164109-2")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-71164109-2');